body{
    margin:0px !important;
    background-image: url(../images/background2.jpg);
    background-color:rgba(255, 255, 255, 0.084);
    background-blend-mode: lighten;
    height: 1000px;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color:black !important;
    font-size:18px;
}
.header{
    padding:40px;
    background-color:rgb(0, 0, 0);
    color:white;
    font-family: 'Orbitron', sans-serif;
    font-size:60px;
    text-align: left;
}
.container-fluid{padding:0px !important}

input{
    background-color:rgba(254, 254, 254, 1) !important;
    color:black !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray !important;
  }

.card{
    background-color:rgba(254, 254, 254, 1)  !important;
    border:gray 1px solid !important;

}

.card-title{
    color:green;
    font-family: 'Bitter', serif;
    font-size:30px;
}
label{color:Green;}
.expand{
    display: inline-block;
}
.expandButton{
    float:right;
    background-color: green;
    border:black;
}
.dropdownMenuButton:hover{
background-color:green;
}

.card1{
    margin:30px;
    width:96%;
    

}
.card2{
    margin:30px;
    width:95%;
    float:left;
    height:538px;
}

.card4{ 
    float:right;
    margin:30px 37px 30px 30px;
    width:45%;
    height:700px;
    position:relative;
}
.body2{
    height:538px;
    overflow: scroll;
}
.dropdownMenuButton{
    background-color: green;
}

.dropdown-toggle{
    background-color: green !important;
}

#searchDate,
#submitReview {
    background-color: green !important;
    color: white;
}

.footer{
    padding:30px;
    background-color:black;
    text-align: center;
    font-size:10px;
    color:white;
}

.reviewerCard{
    border:gray 1px solid;
    margin:20px 0px 20px 0px;
   
}
p{
    margin:0px;
font-size:15px;}

.printTitle{
    font-size:25px;
    color:green;
    font-weight: bold;
    text-align:center;
}

#ratingInput{ 
    width:40px;
    text-align: center;
    display:inline;
}

#comments{ 
    height:100px;
    width:100%;
    border:rgb(193, 192, 192) solid 1px;;
}

#previous{
    height:auto;
    max-height:300px;
    overflow: scroll;
}


.form-group {
    display: inline-block;
}
.form-group2 {
    display: block;
    margin-bottom:15px;
}

.authorSelected{
    display:inline-block;
    font-size:20px;
    font-weight:bold;
}

#return{
    display: block;
    margin-top:10px;
    width:151px;
}
.fixedReview{
position: absolute;
top:0px;
background:white;
width:94.5%;
padding-top: 15px;
border-bottom:green solid 5px;

}

#afterRating{
    display:inline;
    font-size:17px;
}
.full-result-style {
    width: 90%;
    height: 85%;
}

#amazonLink{
    display: inline;
    font-size:20px;
}
#bookImage{
    display:block;
}