body{
    margin:0px !important;
    background-image: url(../images/background2.jpg);
    background-color:rgba(255, 255, 255, 0.084);
    background-blend-mode: lighten;
    height: 1000px;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color:white !important;
    font-size:18px;
}
.header{
    position:fixed;
    padding:20px;
    background-color:rgb(0, 0, 0);
    color:white;
    width:100%;
    margin:0px;
    font-family: 'Orbitron', sans-serif;
    font-size:60px;
    text-align: left;
}
.container-fluid{padding:0px !important}

input{
    background-color:rgba(125, 125, 128, 0.851) !important;
    color:white !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
  }

.card{
    background-color:rgba(125, 125, 128, 0.851) !important;
    border:white 1px solid !important;

}

.card-title{
    color:rgb(255, 255, 255);
    font-family: 'Bitter', serif;
    font-size:30px;
}
label{color:white;}
.expand{
    display: inline-block;
}
.expandButton{
    float:right;
    background-color: rgba(10, 10, 92, 0);
    border:black;
}