body{
    margin:0px !important;
    background-image: url(../images/background2.jpg);
    background-color:rgba(255, 255, 255, 0.084);
    background-blend-mode: lighten;
    height: 1000px;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color:black !important;
    font-size:18px;
}
.header{
    position: absolute;
    top:0%;
    padding:20px;
    background-color:rgb(0, 0, 0);
    color:white;
    width:100%;
    margin:0px;
    font-family: 'Orbitron', sans-serif;
    font-size:60px;
    text-align: left;
}
.container-fluid{padding:0px !important}

input{
    background-color:rgba(254, 254, 254, 1) !important;
    color:black !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray !important;
  }

.card{
    background-color:rgba(254, 254, 254, 1)  !important;
    border:gray 1px solid !important;

}

.card-title{
    color:green;
    font-family: 'Bitter', serif;
    font-size:30px;
}
label{color:Green;}
.expand{
    display: inline-block;
}
.expandButton{
    float:right;
    background-color: green;
    border:black;
}
.expandButton:hover{
background-color:green;
}

.card1{
    margin:30px;
    width:96%;
    

}
.card2{
    margin:30px;
    width:45%;
    float:left;
    height:538px;
}

.card3{ 
    float:right;
    margin:30px 37px 30px 30px;
    width:45%;
    height:538px;
}
.card4{ 
    float:right;
    margin:30px 37px 30px 30px;
    width:45%;
    height:580px;
}
.cardReview{
    float:left;
    margin:30px;
    margin-bottom: 100px;
    width:45%;
    height:730px;
    position: relative;
}
.body2{
    height:538px;
    overflow: scroll;
}
#dropdownMenuButton{
    background-color: green;
}
#submit, #submitReview{
    background-color: green !important;
}
#submitReview{
    width:200px;
    position:absolute;
    left:20px;
    bottom:20px;
    border:none;
}
html{position: relative;}
.footer{
    position: absolute;
    bottom:0px;
    width:100%;
    padding:30px;
    background-color:black;
    text-align: center;
    font-size:10px;
    color:white;
}

.reviewerCard{
    border:gray 1px solid;
    margin:20px;
}
p{
    margin:0px;
font-size:12px;}

.printUser{
    font-size:25px;
    color:green;
    font-weight: bold;
}

#ratingInput{ 
    width:90px;
    text-align: center;
}

#comments{ 
    height:100px;
    width:100%;
    border:rgb(193, 192, 192) solid 1px;;
}